<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.AdminMapper">

    <select id="selectByAccountAndPassword" resultType="admin">
        SELECT *
        FROM admin
        WHERE admin_account = #{adminAccount}
          AND admin_password = #{adminPassword}
    </select>

</mapper>