<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.ClassOrderMapper">

    <select id="findAll" resultType="classOrder">
        SELECT *
        FROM class_order
    </select>

    <insert id="insertClassOrder" parameterType="classOrder">
        INSERT INTO class_order(class_order_id, class_id, class_name, coach, member_name, member_account, class_begin)
        VALUES (#{classOrderId}, #{classId}, #{className}, #{coach}, #{memberName}, #{memberAccount}, #{classBegin})
    </insert>

    <select id="selectClassOrderByMemberAccount" parameterType="java.lang.Integer" resultType="classOrder">
        SELECT *
        FROM class_order
        WHERE member_account = #{memberAccount}
    </select>

    <delete id="deleteByClassOrderId" parameterType="java.lang.Integer">
        DELETE
        FROM class_order
        WHERE class_order_id = #{classOrderId}
    </delete>

    <select id="selectMemberByClassIdAndMemberAccount" parameterType="java.lang.Integer" resultType="classOrder">
        SELECT *
        FROM class_order
        WHERE class_id = #{classId}
          AND member_account = #{memberAccount}
    </select>

    <select id="selectMemberOrderList" parameterType="java.lang.Integer" resultType="classOrder">
        SELECT *
        FROM class_order
        WHERE class_id = #{classId}
    </select>


</mapper>