<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.UserMemberMapper">

    <select id="selectByMemberAccount" parameterType="java.lang.Integer" resultType="member">
        SELECT *
        FROM member
        WHERE member_account = #{memberAccount}
    </select>


</mapper>