<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="userCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="userCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="userCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">报名选课</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toUserMain}">主页</a></li>
                    <li class="breadcrumb-item active">报名选课</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        课程信息表
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>时间</th>
                                <th>时长</th>
                                <th>教练</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="class:${classList}">
                                <td th:text="${class.classId}">编号</td>
                                <td th:text="${class.className}">名称</td>
                                <td th:text="${class.classBegin}">时间</td>
                                <td th:text="${class.classTime}">时长</td>
                                <td th:text="${class.coach}">教练</td>
                                <td>
                                    <a th:href="@{/user/applyClass(classId=${class.classId})}"
                                       style="text-decoration: none">
                                        <input type="button" class="btn btn-sm btn-outline-primary" value="报名">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="userCommon::common-footer"></footer>
    </div>
</div>

<div th:include="userCommon::common-scripts"></div>
</body>
</html>
